<ul class="nav">
   <li class="nav-item active  ">
      <a class="nav-link" href="../dashboard">
         <i class="material-icons">content_paste</i>
         <p>Dashboard</p>
      </a>
   </li>
   <li class="nav-item ">
      <a class="nav-link" href="../refund">
         <i class="material-icons">content_paste</i>
         <p>Refund</p>
      </a>
   </li>
   <li class="nav-item ">
      <a class="nav-link" href="../arrangementList">
         <i class="material-icons">content_paste</i>
         <p>ArrangementList</p>
      </a>
   </li>
   <li class="nav-item ">
      <a class="nav-link" href="../create_ticket_type">
         <i class="material-icons">content_paste</i>
         <p>Create Ticket Type</p>
      </a>
   </li>
   <li class="nav-item ">
      <a class="nav-link" href="../create_location">
         <i class="material-icons">content_paste</i>
         <p>Create Location</p>
      </a>
   </li>
   <li class="nav-item ">
      <a class="nav-link" href="../create_arrangement">
         <i class="material-icons">person</i>
         <p>Create Arrangement</p>
      </a>
   </li>

   <li class="nav-item ">
      <a class="nav-link" href="../create_user">
         <i class="material-icons">content_paste</i>
         <p>Create User</p>
      </a>
   <li class="nav-item ">
      <a class="nav-link" href="../">
         <i class="material-icons">content_paste</i>
         <p>Home</p>
      </a>
</ul>
